# Ignore all original Pebble/Rebble examples (I mark them with .example)
/*.example

# Ignore all test/sandbox projects (marked with .test)
/*.test

# Ignore everythin in the build/ directories but the final .pbw (pebble executables)
/*/build/*
!/*/build/*.pbw
